<h1>All your checkins are listed below</h1>

      <h3>Checkin</h3>
    

 
    <% @pins.each do |pin| %>
     
        <p><%= pin.description %></p>
        <p><%= pin.questions %></p>
        <p><%= pin.user.email if pin.user %></p>
        <%= link_to 'Show', pin %>
        <% if pin.user == current_user %>
       <%= link_to 'Edit', edit_pin_path(pin) %>
      <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      
    <% end %>
 


<br>

<% if user_signed_in? %>
  <%= link_to 'New Checkin', new_pin_path %>
<% end %>
