
<div class="panel panel-default">
  <div class="panel-heading">
    <p id="notice"><%= notice %></p>
    <div class="panel-title">
      <strong>Checkin:</strong> 
    </div>
  </div>
  <div class="panel-body">

      <div class="pinshow">
      	<%= @pin.question %>
      </div>
       <div class="pinshow">
      	<%= @pin.question1 %>
      </div>
       <div class="pinshow">
      	<%= @pin.question2 %>
      </div>
       <div class="pinshow">
      	<%= @pin.question3 %>
      </div>
       <div class="pinshow">
      	<%= @pin.question4 %>
      </div>
      <% if @pin.user == current_user %>

  </div>

    
  <div class="panel-footer">
      <%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-lg btn-default" %>
    <% end %>
    <%= link_to 'Back', pins_path, class: "btn btn-lg btn-default" %>
  </div>
</div>


