<h1>You must be and administrator to view this page!</h1>


<!--<div class="panel panel-default">
  <div class="panel-heading">
    <p id="notice"><%= notice %></p>
    <div class="panel-title">
      <strong>Checkin: <%= @pin.created_at %></strong> 
    </div>
  </div>
  <div class="panel-body">

      <div class="pinshow">
        <h4>You can free-write anything you would like to share here, or you can respond to one or more of the prompts below.</h4>
      	<%= @pin.question %>
      </div>
       <div class="pinshow">
        <h4>You can write about your own actions or thoughts here.</h4>
      	<%= @pin.question1 %>
      </div>
       <div class="pinshow">
        <h4>You can write about the actions of another person here.</h4>
      	<%= @pin.question2 %>
      </div>
       <div class="pinshow">
        <h4>If you have a question, comment, or message for your teacher, please write it here.</h4>
      	<%= @pin.question3 %>
      </div>
       <div class="pinshow">
        <h4>Are you considering another action? You can write about it here.</h4>
      	<%= @pin.question4 %>
      </div>
      <% if @pin.user == current_user %>
  </div>

    
  <div class="panel-footer">
      <%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-lg btn-default" %>
    <% end %>
    <%= link_to 'Back', pins_path, class: "btn btn-lg btn-default" %>
  </div>
</div>-->


